/npm-debug.log
/node_modules
/dist
/build
/src/app/js/plugins.js
/src/app/js/tools.js
/src/g3w-ol/config/config.js
.idea
*~
/documento.odt
src/plugins/
/src/index.html
/config/config.js
/test/
/deploy/
/src/plugins/
/config/gulp/config.js
/src/g3w-ol/config/config.js
