<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>G3W Client</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <!-- build:css css/vendor.min.css -->
    <link rel="stylesheet" href="./assets/libraries/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/libraries/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/libraries/font-awesome-5.6.1/css/all.css">
    <link rel="stylesheet" href="./assets/libraries/bootstrap-treeview/css/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="./assets/libraries/icheck/skins/all.css">
    <link rel="stylesheet" href="./assets/libraries/magic-check/magic-check.min.css">
    <link rel="stylesheet" href="./assets/libraries/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="./assets/libraries/hint/hint.min.css">
    <link rel="stylesheet" href="./assets/libraries/ol3/css/ol.css">
    <link rel='stylesheet' href="./assets/libraries/datatables/datatables.min.css">
    <link rel='stylesheet' href="./assets/libraries/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="./assets/libraries/select2/css/select2.min.css">
    <link rel="stylesheet" href="./assets/libraries/c3/css/c3.min.css">
    <!-- build:plugins_css-->
    <!-- endbuild -->

  <!-- endbuild -->

  <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="../dist/client/css/app.css">
  <!-- endbuild -->
</head>
<body class="hold-transition skin-blue fixed">

  <div id="app">
    <app></app>
  </div>

  <!-- build:js js/vendor.min.js -->
    <script src="./assets/libraries/jquery/jquery-2.2.1.min.js"></script>
    <script src="./assets/libraries/jquery-ui/jquery-ui.min.js"></script>
    <script src="./assets/libraries/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/libraries/bootbox/bootbox.min.js"></script>
    <script src="./assets/libraries/lodash/lodash.min.js"></script>
    <script src="./assets/libraries/eventemitter/EventEmitter.min.js"></script>
    <script src="./assets/libraries/history/jquery.history.js"></script>
    <script src="./assets/libraries/signals/signals.min.js"></script>
    <script src="./assets/libraries/crossroads/crossroads.min.js"></script>
    <script src="./assets/libraries/moment/moment.js"></script>
    <script src="./assets/libraries/moment/moment-with-locales.js"></script>
    <script src="./assets/libraries/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./assets/libraries/icheck/icheck.min.js"></script>
    <script src="./assets/libraries/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <script src="./assets/libraries/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="./assets/libraries/fastclick/fastclick.js"></script>
    <script src="./assets/libraries/vue/vue.min.js"></script>
    <script src="./assets/libraries/vue/cookie/vue-cookie.js"></script>
    <script src="./assets/libraries/jquery-file-upload/jquery.fileupload.js"></script>
    <script src="./assets/libraries/jquery-fileDownload/jquery.fileDownload.js"></script>
    <script src="./assets/libraries/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
    <script src="./assets/libraries/ismobile/ismobile.min.js"></script>
    <script src="./assets/libraries/jquery-i18next/jquery-i18next.min.js"></script>
    <script src="./assets/libraries/i18next/i18next.min.js"></script>
    <script src="./assets/libraries/i18next/i18nextXHRBackend.min.js"></script>
    <script src="./assets/libraries/script/script.min.js"></script>
    <script src="./assets/libraries/x2js/xml2json.g3w.min.js"></script>
    <script src="./assets/libraries/proj4js/proj4.js"></script>
    <script src="./assets/libraries/ol3/js/ol.js"></script>
    <script src="./assets/libraries/ol3-rotate-feature/bundle.min.js"></script>
    <script src="./assets/libraries/jsts/jsts.min.js"></script>
    <script src="./assets/libraries/datatables/datatables.min.js"></script>
    <script src="./assets/libraries/datatables/dataTables.responsive.min.js"></script>
    <script src="./assets/libraries/shp2geojson/lib/jszip.js"></script>
    <script src="./assets/libraries/shp2geojson/lib/jszip-utils.js"></script>
    <!--[if IE]>
    <script src="./assets/libraries/shp2geojson/lib/jszip-utils-ie.js"></script>
    <![endif]-->
    <script src="./assets/libraries/shp2geojson/preprocess.js"></script>
    <script src="./assets/libraries/vue-color/vue-color.js"></script>
    <script src="./assets/libraries/filesaver/FileSaver.min.js"></script>
    <script src="./assets/libraries/select2/js/select2.min.js"></script>
    <script src="./assets/libraries/select2/js/i18n/it.js"></script>
    <script src="./assets/libraries/d3/js/d3.min.js"></script>
    <script src="./assets/libraries/c3/js/c3.min.js"></script>
    <script src="./assets/libraries/wps/js/wps-js-all.min.js"></script>
    <!-- build:plugins_js-->
    <!-- endbuild -->

  <!-- endbuild -->

  <!-- build:js js/app.min.js -->
    <script src="../dist/client/js/app.js"></script>
  <!-- endbuild -->
</body>
</html>
